/* drag-list */
@use '../global' as g;

.drag-list {
  display: grid;
  grid-template-rows: repeat(2, 80px);
  grid-template-columns: repeat(4, 80px);
  margin: 50px;
  @include g.mediaQuery() {
    margin: 30px;
  }

  &--move {
    transition: transform 0.8s;
  }
  
  li {
    cursor: pointer;
    @include g.flexCentering();
    width: 50px;
    height: 50px;
    border: 2px solid gray;
    border-radius: 10px;
  }
}
